<div id="<%= dom_id user %>" class="user_index_container">
  <figure>
    <%= link_to(image_tag(user.photo, width: 120, height: 120, alt: 'img'), user_path(user), class: "col-md-3 p-3") %>
  </figure>

  <div class = "user_index_description">
    <h3 class = "user_index_name"><%= user.name %></h3>
    <p class = "user_index_number_of_posts">
      <strong>Number of posts:</strong>
      <%= user.post_counter %>
    </p>
  </div>
</div>
