<div id="<%= dom_id user %>" class="user_index_container">
  <figure>
    <%= link_to(image_tag(user.photo, width: 150, height: 150, alt: 'img'), user_path(user), class: "col-md-3 p-3") %>
  </figure>

  <div class = user_index_description>
    <h3><%= user.name %></h3>
    <p>
      <strong>Number of posts:</strong>
      <%= user.post_counter %>
    </p>
  </div>
</div>
