<header class='user_show_bottom_links'>
  <h1>Users</h1>
  
  <%= link_to('Create a new post',
              new_user_post_path(@current_user),
              class: 'crete_link') unless @current_user == nil
  %>
</header>


<div id="users">
  <% @users.each do |user| %>
    <%= render partial: '_partials/user', locals: { user: user }%>
  <% end %>
</div>
