<div class='user_show_last_post_container'>
  <p class = "user_show_last_post_counters">
    comments: <%= post.comments_counter%> likes: <%= post.likes_counter %>
  </p>
  <h2 class = 'user_show_last_post_title'><%=  post.title %></h2>
  <p class = "user_show_last_post_text"><%= post.text %>...</p>
</div> 
