@import 'user_index';
@import 'user_show';

body {
  padding: 0 10% 0 10%;
}

img {
  width: 120px;
}

a {
  text-decoration: none;
  color: #1c1870;
  cursor: pointer;
}

.new_user {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.field {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-bottom: 25px;
}
