.user_index_container {
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.user_index_description {
  display: flex;
  justify-content: flex-start;
  padding: 15px;
}

.user_index_name {
  font-size: 32px;
  align-self: center;
}

.user_index_number_of_posts {
  align-self: flex-end;
  margin-left: 25px;
}
