.user_index_container {
  display: grid;
  grid-template-columns: 1fr 5fr;
  column-gap: 30px;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 20px;
}

.user_index_description {
  display: flex;
  justify-content: flex-start;
  padding: 15px;
  border: 2px solid #000;
}

.user_index_name {
  font-size: 32px;
  align-self: center;
}

.user_index_number_of_posts {
  align-self: flex-end;
  margin-left: 25px;
}

.crete_link {
  color: #fff;
  background-color: #008cba;
  padding: 5px 15px;
  border-radius: 6px;
  font-size: 20px;
  font-weight: 700;
}

